@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-reboot@4.5.6/reboot.min.css');

html,
body {
  font-family: 'MuseoModerno', monospace;
  background-color: black;
  color: white;
  text-align: center;
}

h1 {
  font-weight: 900;
}

main {
  /* center within using flex with max-width 320px*/
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 0 auto;
  min-height: 100vh;
  justify-content: center;
}

/* remove bullets and indentation from ul*/
ul {
  list-style: none;
  padding: 0;
}

/*
Anchors are:
- underlined
- use the color of the parent element
- upon hover,active, etc get a border around it and use the color of the parent element
*/
a {
  text-decoration: underline;
  color: inherit;
}
a:hover,
a:focus,
a:active {
  color: inherit;
  border: 1px solid currentColor;
}

/* Button that is transparent that has a white white border */
button {
  background-color: transparent;
  border: none;
  color: inherit;
  border: 1px solid white;
  align-self: center;
  padding: 0.5rem;
}
